In [1]:
'''
Number letter counts

Problem 17 

If the numbers 1 to 5 are written out in words: one, two, three, four, five, 
then there are 3 + 3 + 5 + 4 + 4 = 19 letters used in total.

If all the numbers from 1 to 1000 (one thousand) inclusive were written out in words, 
how many letters would be used?

NOTE: Do not count spaces or hyphens. For example, 
342 (three hundred and forty-two) contains 23 letters and 
115 (one hundred and fifteen) contains 20 letters. 
The use of "and" when writing out numbers is in compliance with British usage.

'''

'\nNumber letter counts\n\nProblem 17 \n\nIf the numbers 1 to 5 are written out in words: one, two, three, four, five, \nthen there are 3 + 3 + 5 + 4 + 4 = 19 letters used in total.\n\nIf all the numbers from 1 to 1000 (one thousand) inclusive were written out in words, \nhow many letters would be used?\n\nNOTE: Do not count spaces or hyphens. For example, \n342 (three hundred and forty-two) contains 23 letters and \n115 (one hundred and fifteen) contains 20 letters. \nThe use of "and" when writing out numbers is in compliance with British usage.\n\n'

In [11]:
ones = [
    '',
    'one',
    'two',
    'three',
    'four',
    'five',
    'six',
    'seven',
    'eight',
    'nine']

In [12]:
teens = [
    'ten',
    'eleven',
    'twelve',
    'thirteen',
    'fourteen',
    'fifteen',
    'sixteen',
    'seventeen',
    'eighteen',
    'nineteen']

In [13]:
tens = [
    '',
    'ten',
    'twenty',
    'thirty',
    'fourty',
    'fifty',
    'sixty',
    'seventy',
    'eighty',
    'ninty']

In [14]:
hundreds = [
    '',
    'one hundred',
    'two hundred',
    'three hundred',
    'four hundred',
    'five hundred',
    'six hundred',
    'seven hundred',
    'eight hundred',
    'nine hundred']

In [15]:
 def build_words(sample):
    letters = 0
    words = ''
    
    thousand = sample // 1000
    if 0 != thousand:
        return 'one thousand'
    
    hundred = sample // 100
    if 0 != hundred:
        words += ' ' + hundreds[hundred]
        if(sample%100) or (sample%10):
            words += ' ' + 'and'

    ten = (sample%100) // 10
    if ten and ten > 1:
        words += ' ' + tens[ten]

    one = (sample%10)
    if 0 != ones:
        if ten==1:
            words += ' ' + teens[one]
        else:
            words += ' ' + ones[one]

    return words

In [16]:
import itertools as it
import functools as ft
import operator

sample = 1000  # 21124
letters = 0

word_list = [len((build_words(i).replace(" ",""))) for i in range(1,sample+1)]

print (ft.reduce(lambda a,b : a+b,word_list)) 
print (ft.reduce(operator.add,word_list))

21124
21124