In [1]:
import pandas as pd

In [2]:
george_dupe = pd.Series([10, 7, 1, 22],
                       index = ['1968', '1969', '1970', '1970'],
                       name = 'George Songs')

In [3]:
george_dupe

1968    10
1969     7
1970     1
1970    22
Name: George Songs, dtype: int64

In [4]:
g2=pd.Series({'1969': 7, '1970': [1, 22]},
            index = ['1969', '1970', '1970'])

In [5]:
g2

1969          7
1970    [1, 22]
1970    [1, 22]
dtype: object

In [6]:
george_dupe['1970']

1970     1
1970    22
Name: George Songs, dtype: int64

In [7]:
for item in george_dupe:
    print (item)

10
7
1
22

In [8]:
22 in george_dupe

False

In [9]:
22 in set(george_dupe)

True

In [10]:
22 in george_dupe.values

True

In [11]:
'1970' in george_dupe

True

In [12]:
for item in george_dupe.iteritems():
    print(item)

('1968', 10)
('1969', 7)
('1970', 1)
('1970', 22)

In [13]:
george_dupe['1969']=6

In [14]:
george_dupe['1969']

6

In [15]:
george_dupe['1973']=11

In [16]:
george_dupe

1968    10
1969     6
1970     1
1970    22
1973    11
Name: George Songs, dtype: int64

In [17]:
george_dupe['1970'] = 2

In [18]:
george_dupe

1968    10
1969     6
1970     2
1970     2
1973    11
Name: George Songs, dtype: int64

In [19]:
george_dupe.iloc[3]=22

In [20]:
george_dupe

1968    10
1969     6
1970     2
1970    22
1973    11
Name: George Songs, dtype: int64

In [21]:
george_dupe.append(pd.Series({'1974':9}))

1968    10
1969     6
1970     2
1970    22
1973    11
1974     9
dtype: int64

In [22]:
george_dupe.set_value('1974', 9)

C:\Users\ms\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """Entry point for launching an IPython kernel.

1968    10
1969     6
1970     2
1970    22
1973    11
1974     9
Name: George Songs, dtype: int64

In [23]:
del george_dupe['1973']

In [24]:
george_dupe

1968    10
1969     6
1970     2
1970    22
1974     9
Name: George Songs, dtype: int64