In [5]:
import pandas

In [6]:
pandas.__version__

'0.23.4'

In [7]:
import pandas as pd

In [8]:
songs2 = pd.Series([145, 142, 38, 13], name='counts')

In [9]:
songs2

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

In [10]:
songs2.index

RangeIndex(start=0, stop=4, step=1)

In [11]:
songs3=pd.Series([145, 142, 38, 13], name='counts', index=['Paul', 'John', 'George', 'Ringo'])

In [12]:
songs3

Paul      145
John      142
George     38
Ringo      13
Name: counts, dtype: int64

In [13]:
songs3.index

Index(['Paul', 'John', 'George', 'Ringo'], dtype='object')

In [14]:
class Foo:
    pass

In [15]:
ringo = pd.Series(['Richard','Starky', 13, Foo()],
                  name='ringo')

In [16]:
ringo

0                                        Richard
1                                         Starky
2                                             13
3    <__main__.Foo object at 0x000002855E2C8D68>
Name: ringo, dtype: object

In [17]:
ringo.index

RangeIndex(start=0, stop=4, step=1)

In [18]:
nan_ser = pd.Series([2, None],
                   index=['Ono', 'Clapton'])

In [19]:
nan_ser

Ono        2.0
Clapton    NaN
dtype: float64

In [20]:
nan_ser.count()

1

In [21]:
import numpy as np

In [22]:
numpy_ser = np.array([145, 142, 38, 13])

In [23]:
songs3[1]

142

In [24]:
numpy_ser[1]

142

In [25]:
songs3.mean()

84.5

In [26]:
numpy_ser.mean()

84.5

In [27]:
mask = songs3 > songs3.median() # boolean array

In [28]:
mask

Paul       True
John       True
George    False
Ringo     False
Name: counts, dtype: bool

songs3[mask]

In [29]:
songs3[mask]

Paul    145
John    142
Name: counts, dtype: int64

In [30]:
numpy_ser[numpy_ser > np.median(numpy_ser)]

array([145, 142])